<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only: <%= title %></title>
    <link rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="/messages/new.css">
</head>
<body>
    <h1><%= title %></h1>
    <form action="/messages/new" method="post" novalidate>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <br>
        <label for="content">Content:</label>
        <textarea name="content" id="content"></textarea>
        <br>
        <button type="submit">Post Message</button>
    </form>
</body>
</html>